In [16]:
# Function
def times2(a):
    b= 2*a
    return(b) 

times2(5)

10

In [35]:
seq=[1,2,3,5,6,8]

for i in seq:
    c= i*3
    print(c)

3
6
9
15
18
24

In [24]:
for i in range(5):
    b=i*3
    print(b)

0
3
6
9
12

In [38]:
def times2(Var):
    return Var*2
times2(4)

8

In [37]:
# Map() ---map() function returns a map object(which is an iterator) of the results after applying the given function 
# to each item of a given iterable (list, tuple etc.)

# Syntax :

# map(fun, iter)

def times2(Var):
    return Var*2
list(map(times2, seq))

[2, 4, 6, 10, 12, 16]

In [40]:
# Lambda expression: def times2(Var):return Var could be written as lambda Var:Var ( Lambda a varaible: return a function of that variable)
lambda num:num

In [47]:
t=lambda num:num*2

In [48]:
t(6)

12

In [54]:
t=lambda b:b % 2
t(5)

1

In [53]:
12/2

6.0

In [55]:
# Now use lambda expression to articulate def times2(Var):return Var  list(map(times2,seq )) into one line:
list(map(lambda a:a*2, seq))

[2, 4, 6, 10, 12, 16]

In [ ]:
# NOTE : The returned value from map() (map object) 
# then can be passed to functions like list() (to create a list), set() (to create a set) .

In [80]:
L=(2,3,4,5,6,11)
lambda i: i % 2
result= map(lambda i:i%2, L)
list(result)

[0, 1, 0, 1, 0, 1]

In [70]:
M= (2,5,6,7,8,"a")

In [67]:
# # Add two lists using map and lambda 
output=map(lambda i, j:i+j, L,M)
list(output)

[4, 8, 10, 12, 14]

In [73]:
# Filter function vs map function
seq= (2,3,4,5,6,7,8,9)
result=map(lambda n: n % 2, seq) # map all numbers in the seq and mod 2 one by one
list(result) # call it by list it out

[0, 1, 0, 1, 0, 1, 0, 1]

In [84]:
# now we want to filter it out with a booleen , find all the numbers in the seq where n%2 == 0
result1=filter(lambda n1: n1%2 == 0, seq)
list(result1)

[2, 4, 6, 8]

In [92]:
output1=filter(lambda n2: n2+2 >5 and n2+2<7, L)
list(output1)

[4]